<mat-card class="tools-card">
  <mat-card-content>
    <p class="text-align-justify">
      This is the current aircrafts flying over US provided by <a href="https://openskynetwork.github.io/opensky-api/rest.html" target="_blank">opensky-network.org</a>.
      The current API limitation is 1000 requests per day.
      All other aviations API I found are too expensive or provide too low requests quota for free.
      If requests limit exceeded - you will be notified about that.
    </p>
    <div class="tools-controls-container">

      <div>
        <button mat-raised-button (click)="beginHttpRequest()">Refresh</button>
      </div>

      <div class="tools-controls-filter">
        <mat-form-field class="filter-input" appearance="fill">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Type any data">
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>

</mat-card>


<table mat-table [dataSource]="matTableDataSource" [trackBy]="trackRows" class="mat-elevation-z8 table">

  <ng-container matColumnDef="icao24">
    <th mat-header-cell *matHeaderCellDef>ICAO transponder</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.icao24 }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="callsign">
    <th mat-header-cell *matHeaderCellDef>Callsign</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.callsign }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="origin_country">
    <th mat-header-cell *matHeaderCellDef>Aircraft origin country</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.origin_country }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="baro_altitude">
    <th mat-header-cell *matHeaderCellDef>Barometric altitude (m)</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.baro_altitude }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="geo_altitude">
    <th mat-header-cell *matHeaderCellDef>Geometric altitude (m)</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.geo_altitude }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="velocity">
    <th mat-header-cell *matHeaderCellDef>Velocity (m/s)</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.velocity }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="vertical_rate">
    <th mat-header-cell *matHeaderCellDef>Vertical rate (m/s)</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">

        <ng-container *ngIf="e.vertical_rate > 0">
          <mat-icon>north</mat-icon>
        </ng-container>
        <ng-container *ngIf="e.vertical_rate < 0">
          <mat-icon>south</mat-icon>
        </ng-container>

        {{ e.vertical_rate }}
      </td>
    </ng-container>
  </ng-container>

  <ng-container matColumnDef="categoryName">
    <th mat-header-cell *matHeaderCellDef>Aircraft category</th>
    <ng-container *matCellDef="let e; let odd=odd">
      <td mat-cell class="animated-row" [class.odd-row]="odd">
        {{ e.categoryName }}
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnNames"></tr>

  <ng-container *matRowDef="let myRowData; columns: columnNames; let odd=odd">
    <tr mat-row class="animated-row" [class.odd-row]="odd"></tr>
  </ng-container>

</table>

<mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[10, 20, 100]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
