<a mat-button href="https://www.google.com/" target="_blank">Link</a>
<mat-divider></mat-divider>
<mat-slider min="1" max="100" step="1" value="10"></mat-slider>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>

<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
<div>11</div>
