<mat-tab-group animationDuration="0ms">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="gap-tab-icon">radio</mat-icon>
      DX Spots
    </ng-template>

    <div class="margin-general">
      <app-dxsummit-spot></app-dxsummit-spot>
    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="gap-tab-icon">campaign</mat-icon>
      DX Announcements
    </ng-template>

    <div class="gap-top"></div>
    <!-- TODO -->
    TODO

  </mat-tab>

</mat-tab-group>
