#top-root {
  min-width: 255px;
}

/* Toolbar */
.toolbar {
  display: flex;
}

  .toolbar.toolbar-fixed {
    z-index: var(--aloz-zindex-toolbar);
    position: fixed;
    left: 0;
    top: 0;
    min-width: 255px;
  }

  .toolbar.toolbar-row {
    gap: var(--aloz-gap);
  }

  .toolbar.container-caption {
    align-items: center;
  }

  .toolbar.container-caption-image {
    width: 48px;
    height: 48px;
    align-items: stretch;
  }

  .toolbar.toolbar-spacer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .toolbar.vertical-divider {
    border-right-color: white;
    height: calc(var(--aloz-toolbar-height) - var(--aloz-toolbar-height) / 2);
  }

/* Toolbar */

#sidenav {
  padding-top: var(--aloz-toolbar-height);
}

/* Workspace */

.workspace.root {
  min-height: calc(100% - var(--aloz-footer-height));
  padding-top: var(--aloz-toolbar-height);
}

.workspace.leftmenu {
  padding: var(--aloz-gap);
}

.leftmenu-item {
  width: 100%;
  margin-bottom: var(--aloz-gap);
}

.leftmenu-item-active {
  background-color: burlywood;
}

.leftmenu-item-icon {
  margin-right: calc(var(--aloz-gap)/2);
}

.workspace.content {
  /* background-color: dimgray; */
  padding: var(--aloz-gap);
}

/* Workspace */

/* Footer */

.footer {
  position: relative;
  overflow: hidden;
  height: var(--aloz-footer-height);
  background-color: #d0d0d0;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
}

  .footer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background: url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 0 left 0 repeat, url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 80px left 160px repeat;
    background-size: 64px auto;
    z-index: -1;
  }

.thetext {
  background-image: none;
  margin-top: auto;
  padding-right: var(--aloz-footer-margin-right);
  margin-bottom: auto;
  color: #6e7781;
  text-align: right;
  font-weight: bold;
  font-size: x-small;
  text-shadow: 1px 1px 1px white;
}

.thetext-icon {
  transform: scale(0.5);
  text-shadow: 1px 1px 1px white;
}

/* Footer */
