.toolbar.toolbar-fixed {
  z-index: 65535;
  position: fixed;
  left: 0;
  top: 0;
}

.toolbar.toolbar-row {
  display: flex;
  gap: var(--aloz-gap);
}

.toolbar.container-caption {
  display: flex;
  align-items: center;
}

.toolbar.container-caption-image {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: stretch;
}

.toolbar.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar.vertical-divider {
  border-right-color: white;
  height: calc(var(--aloz-toolbar-height) - var(--aloz-toolbar-height) / 2);
}

#sidenav {
  padding-top: var(--aloz-toolbar-height);
}

.workspace.root {
  height: 100%;
  padding-top: var(--aloz-toolbar-height);
}

.workspace topmargin {
  height: var(--aloz-gap);
}

.workspace.leftmenu {
  padding: var(--aloz-gap);
}

.workspace.content {
  min-height: calc(100% - var(--aloz-footer-heigtht));
  padding-left: var(--aloz-gap);
  padding-right: var(--aloz-gap);
  padding-bottom: var(--aloz-gap);
}

.footer {
  position: relative;
  overflow: hidden;
  height: var(--aloz-footer-heigtht);
  background-color: #331990;
  display: flex;
  justify-content: flex-end;
  z-index: 0;
}

  .footer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.08;
    background: url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 0 left 0 repeat,url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 80px left 160px repeat;
    background-size: 320px auto;
    z-index: -1;
  }

.thetext {
  background-image: none;
  padding: var(--aloz-gap);
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  border-right: 4px dotted white;
  text-align: right;
}
